html {
    height: 100%;
}

.container {margin-left: auto;
    margin-right: auto;
    width: 1024px;}
body {background-color: #2f3035 ;
background-image: url(image/table.jpg );
background-size: cover;
background-repeat: no-repeat;

}

    header{
height: 118px;
text-align: center ;
   }
  



nav {background-color:rgba(0, 0, 0, 0.338);
    
    
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;



   }



main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    }

    
        

footer {background-color: rgba(0, 0, 0, 0.747);
     
     
     }

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;}
p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;}

a {color: white ;
font-family: Arial, Helvetica, sans-serif;}

nav a {
    text-decoration: none;
    color: red;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
}
footer p { 
    font-style: italic;
    font-size: 12px;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 44px;

}

.maps {
    padding-bottom: 100px;
}
